<section id="services" class="ftco-section">
		  <div class="container">
		  	<div class="row">
		  		<div class="col-md-9">
		  			<div class="row">
				  		<div class="col-md-5 heading-section ftco-animate pb-5">
		            <h2 class="mb-4">Photography Services</h2>
		            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country.</p>
		          </div>
				  	</div>
		  			<div class="row">
		        	<div class="col-md-4">
		        		<div class="media block-6 services d-block ftco-animate">
		              <div class="icon"><span class="flaticon-video-camera"></span></div>
		              <div class="media-body">
		                <h3 class="heading mb-3">Movies &amp; Advertising Videos</h3>
		                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences.</p>
		              </div>
		            </div> 
		        	</div>
		        	<div class="col-md-4">
		        		<div class="media block-6 services d-block ftco-animate">
		              <div class="icon"><span class="flaticon-video-player"></span></div>
		              <div class="media-body">
		                <h3 class="heading mb-3">Clip &amp; Music Videos</h3>
		                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences.</p>
		              </div>
		            </div> 
		        	</div>
		        	<div class="col-md-4">
		        		<div class="media block-6 services d-block ftco-animate">
		              <div class="icon"><span class="flaticon-video-player-1"></span></div>
		              <div class="media-body">
		                <h3 class="heading mb-3">Short Film Productions</h3>
		                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences.</p>
		              </div>
		            </div> 
		        	</div>
	        	</div>
	        </div>
	        <div class="col-md-3 d-flex align-items-stretch">
	        	<div class="img w-100" style="background-image: url({% static 'images/about.jpg'%});"></div>
	        </div>
        </div>
        <div class="row progress-circle pt-md-5">
        	<div class="col-md-7 order-md-last py-md-5">
        		<div class="row">
				  		<div class="col-md-4 mb-md-0 mb-4 ftco-animate">
					      <div class="">
					        <h2 class="text-center mb-4">Creation</h2>

					        <!-- Progress bar 1 -->
					        <div class="progress mx-auto" data-value='90'>
					          <span class="progress-left">
		                  <span class="progress-bar border-primary"></span>
					          </span>
					          <span class="progress-right">
		                  <span class="progress-bar border-primary"></span>
					          </span>
					          <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
					            <div class="h5">90<sup class="small">%</sup></div>
					          </div>
					        </div>
					        <!-- END -->
					      </div>
					    </div>

					    <div class="col-md-4 mb-md-0 mb-4 ftco-animate">
					      <div class="">
					        <h2 class="text-center mb-4">Development</h2>

					        <!-- Progress bar 1 -->
					        <div class="progress mx-auto" data-value='80'>
					          <span class="progress-left">
		                  <span class="progress-bar border-primary"></span>
					          </span>
					          <span class="progress-right">
		                  <span class="progress-bar border-primary"></span>
					          </span>
					          <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
					            <div class="h5">80<sup class="small">%</sup></div>
					          </div>
					        </div>
					        <!-- END -->
					      </div>
					    </div>

					    <div class="col-md-4 mb-md-0 mb-4 ftco-animate">
					      <div class="">
					        <h2 class="text-center mb-4">Production</h2>

					        <!-- Progress bar 1 -->
					        <div class="progress mx-auto" data-value='75'>
					          <span class="progress-left">
		                  <span class="progress-bar border-primary"></span>
					          </span>
					          <span class="progress-right">
		                  <span class="progress-bar border-primary"></span>
					          </span>
					          <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
					            <div class="h5">75<sup class="small">%</sup></div>
					          </div>
					        </div>
					        <!-- END -->
					      </div>
					    </div>

					    <div class="p-md-4 mt-4">
					    	<div class="col-md-8 ftco-animate">
						    	<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast.</p>
					    	</div>
					    </div>
					  </div>
					</div>
					<div class="col-md-5 d-flex align-items-stretch">
	        	<div class="img w-100" style="background-image: url({% static 'images/about-2.jpg'%});"></div>
	        </div>
		  	</div>
		  </div>
		</section>